.defaultInput{
    padding: 5px 10px;
    border-radius: 3px;
    color: #f3fce9;
    font-size: 17px;
    border: 2px solid #516693;
    background: rgb(28 29 31 / 90%);
    outline: none;
}
.boxShadow{
    box-shadow: #516693 0px 0px 60px;
}
.messageInput{
    height: 27px;
    padding: 0px;
    background: rgb(28 29 31 / 0%);
    border: none;
}